body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}
#game_console {
    height: 100vh;
    flex: 1; /* makes the console fill up any available space */
    min-width: 0; /* allows to be scaled down infinitely */

    text-align: center;
}
#board{
    min-width: 0; /* allows to be scaled down infinitely */
    background-color: black;
}
#code_console{
    margin: 0;
    padding: 0;
    width: 40rem;
}