body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}

/* loading */
#loading{
    height: 100vh;
    width: 100vw;
    z-index: 9999; /* appear over EVERYTHING */
    
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

#loading dotlottie-wc{
    width: 300px;
    height: 300px;
}

#loading p{
    margin-top: 20px;
    opacity: 0.8;
    letter-spacing: 1px;
}

/* text editor */
#code_console{
    margin: 0;
    padding: 0;
    width: 40rem;
}

/* game console */
#game_console{
    height: 1000px;
    flex: 1; /* makes the console fill up any available space */
    min-width: 0; /* allows to be scaled down infinitely */

    display: flex;
    flex-direction: column;
}

/* Container */
#robot_ui{
    position: fixed;
    top: 70vh;
    left: 20px;
    z-index: 998;

    display: flex;
    align-items: center;
}

/* Robot */
#robot_corner{
    width: 5vw;
    height: auto;

    pointer-events: none;
    user-select: none;
}

/* Textbox */
#robot_textbox{
    margin-left: 12px;
    padding: 10px 16px;
    max-width: 30vw;

    background: rgba(18, 26, 36, 0.85);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 12px;

    color: white;
    font-size: 0.9rem;

    box-shadow: 0 8px 20px rgba(0,0,0,0.5);

    opacity: 0;
    transform: translateX(-10px);
    transition: 0.3s ease;
}

/* Show animation */
#robot_ui:hover #robot_textbox{
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1369px){
    #code_console {
        margin: 0;
        padding: 0;
        width: 20rem;
    }
}


@media (max-height: 520px) and (orientation: landscape){
    #robot_ui{top: 30vh;}

}