body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}
#game_console {
    height: 100vh;
    flex: 1;
    min-width: 0;

    text-align: center;
}
#board{
    min-width: 0;
    background-color: black;
}
#code_console{
width: 40rem;
}