.text_editor{
    width: 40rem;
    min-width: 10rem;
    height: 30rem;
    min-height: 10rem;
    padding: 3px; /* adds a border within the text editor */
    z-index: 999; /* text editor should appear over everything */

    position: fixed;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto; /* allow the resize drag to be seen */
    background-color: rgb(92, 92, 92);
}
.title_bar{
    margin: 0.5rem; /* pushes the buttons inwards */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.run{
    height: 2rem;
}
.window_controls{
    display: flex;
    flex-direction: row;
}
.minimise, .maximise{
    width: 2rem;
    height: 2rem;
}
.code{  
    flex: 1;
}

/* replace with function cheatsheet for final draft */
.output_console{
    top: 30rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#output{
    width: 40rem;
    height: 20rem;
    resize: none
}

/* mobile:
the text editor will just fill up whole screen, so no need mobile first for this
likewise for the game console
*/